body { position: relative; padding-top: 40px; }

#background { background: url(../img/bg3.jpg) no-repeat; background-position: center top; background-size: cover; position: absolute; left: 0; top: 0; right: 0; bottom: 0; margin: 0; padding: 0; z-index: -1; }
@media (max-width: 768px) { #background { background: url(../img/bg-xs.jpg) no-repeat; background-position: center top; background-size: cover; position: absolute; left: 0; top: 0; right: 0; bottom: 0; margin: 0; padding: 0; z-index: -1; } }
@media (max-width: 767px) { #background { background: url(../img/bg-xxs.jpg) center top no-repeat; background-size: contain; background-color: #000; position: absolute; left: 0; top: 0; right: 0; bottom: 0; margin: 0; padding: 0; z-index: -1; } }

a:focus, input[type="text"] { outline: none !important; }

.tooltip { z-index: 100000000; }

body { padding-right: 0px !important; }

.modal-open { overflow-y: auto; }

.no-gutter > [class*='col-'] { padding-right: 0; padding-left: 0; }

.no-padding { padding: 0 !important; display: block; }
.no-padding .row { margin-left: 0; margin-right: 0; }
@media (max-width: 991px) { .no-padding { padding-left: 15px; padding-right: 15px; } }

.no-margin { margin: 0 !important; display: block !important; }

.clear { clear: both !important; }

.center-block { display: table; margin: 0 auto; }

.center { position: absolute; top: 50%; left: 50%; -webkit-transform: translate(-50%, -50%); transform: translate(-50%, -50%); }

.mb-0 { margin-bottom: 0 !important; }

.pb-0 { padding-bottom: 0 !important; }

.position-relative { position: relative !important; outline: none; }

.position-absolute { position: absolute !important; }

.section { padding-top: 100px; padding-bottom: 40px; }

@media (max-width: 768px) { .navbar-header { float: none; }
  .navbar-left, .navbar-right { float: none !important; }
  .navbar-toggle { display: block; }
  .navbar-collapse { border-top: 1px solid transparent; -webkit-box-shadow: inset 0 1px 0 rgba(255, 255, 255, 0.1); box-shadow: inset 0 1px 0 rgba(255, 255, 255, 0.1); }
  .navbar-fixed-top { top: 0; border-width: 0 0 1px; }
  .navbar-collapse.collapse { display: none !important; }
  .navbar-nav { float: none !important; margin-top: 7.5px; }
  .navbar-nav > li { float: none; }
  .navbar-nav > li > a { padding-top: 10px; padding-bottom: 10px; }
  .collapse.in { display: block !important; } }
.link { -webkit-transition: all 0.2s ease-in-out; transition: all 0.2s ease-in-out; color: black; cursor: pointer; text-transform: uppercase; letter-spacing: 4px; display: inline-block; font-size: 10px; font-size: 0.625rem; border-bottom: 1px solid black; margin-top: 30px; line-height: 20px; }
.link:hover, .link:focus { text-decoration: none; color: blue; }
.link:hover { border-bottom-color: black; }

.center-block { display: table; margin: 0 auto; }

.captcha-format { color: white; margin-bottom: 15px; }

#captchaimage { margin-bottom: 20px; }
@media (max-width: 767px) { #captchaimage { display: table; margin: 0 auto 10px auto; }
  #captchaimage img { display: table; margin: 0 auto 10px auto; } }
#captchaimage #refreshimg { display: inline-block; margin-bottom: 0; font-weight: 400; line-height: 1.42857143; text-align: center; white-space: nowrap; vertical-align: middle; -ms-touch-action: manipulation; touch-action: manipulation; cursor: pointer; -webkit-user-select: none; -moz-user-select: none; -ms-user-select: none; user-select: none; background-image: none; border-radius: 0; border: none; background-color: #28B3E6; color: white; font-family: "Gotham-Bold", Helvetica, Arial, sans-serif; font-size: 15px; -webkit-transition: all .3s ease; transition: all .3s ease; text-decoration: none; margin-left: 10px; padding: 12px; }
#captchaimage #refreshimg:hover { background-color: #009fcc; color: white; }
@media (max-width: 767px) { #captchaimage #refreshimg { display: table; margin: 0 auto; } }

.logo { margin-bottom: 30px; }
@media (max-width: 767px) { .logo { max-width: 300px; margin-top: 40px; margin-bottom: 20px; height: auto; } }

#video { position: relative; min-height: 100vh; }
#video .heading { position: absolute; top: 50%; left: 50%; -webkit-transform: translate(-50%, -50%); transform: translate(-50%, -50%); width: 100%; top: 40%; }
@media only screen and (min-device-width: 768px) and (max-device-width: 1024px) and (orientation: landscape) { #video .heading { /* STYLES GO HERE */ top: 44%; } }

.video-container { max-width: 600px; display: block; margin: 0 auto; border-radius: 10px; border: 10px solid white; }
@media (max-width: 767px) { .video-container { width: 90%; } }
.video-container .embed-container { position: relative; padding-bottom: 56.25%; height: 0; overflow: hidden; max-width: 100%; }
.video-container .embed-container iframe, .video-container .embed-container object, .video-container .embed-container embed { position: absolute; top: 0; left: 0; width: 100%; height: 100%; }

.btn-participa, .btn-vota { background-color: #00b3e5; color: white; text-transform: uppercase; font-family: "Gotham-Bold", Helvetica, Arial, sans-serif; font-size: 24px; border-radius: 0; border: none; padding: 10px 30px; -webkit-transition: all .3s ease; transition: all .3s ease; display: inline-block; margin-top: 30px; }
.btn-participa:hover, .btn-vota:hover, .btn-participa:focus, .btn-vota:focus { background-color: #009fcc; color: white; }

.btn-vota { display: table; padding: 10px 30px; font-size: 18px; margin: 0 auto; }

#grid-dobles h1 { font-family: "Gotham-Light", Helvetica, Arial, sans-serif; text-transform: uppercase; color: white; text-align: center; margin-top: 0; margin-bottom: 40px; font-size: 32px; }
#grid-dobles h1 span.bold { font-family: "Gotham-Bold", Helvetica, Arial, sans-serif; }
#grid-dobles .caja-doble { margin-bottom: 40px; }
#grid-dobles .caja-doble .btn-doble { cursor: pointer; display: block; }
#grid-dobles .caja-doble .btn-doble .img-doble { margin-bottom: 20px; display: block; border-radius: 200px; -webkit-box-sizing: border-box; box-sizing: border-box; background-color: #DDD; border: 5px solid #cfd8dc; opacity: 1; -webkit-transition: all 0.3s ease; transition: all 0.3s ease; }
#grid-dobles .caja-doble .btn-doble:hover .img-doble { opacity: 0.9; }
#grid-dobles .caja-doble .img-doble { margin-bottom: 20px; display: block; border-radius: 200px; -webkit-box-sizing: border-box; box-sizing: border-box; background-color: #DDD; border: 5px solid #cfd8dc; }

footer { padding: 40px 0; }
@media (max-width: 767px) { footer { background: url(../img/bg-footer-xxs.jpg) no-repeat; background-position: center top; background-size: cover; } }
footer .rrss { position: absolute; right: 0; top: 0; }
@media (max-width: 991px) { footer .rrss { position: relative; right: auto; top: auto; display: table; margin: 40px auto 0 auto; } }
footer .rrss ul { list-style-type: none; padding: 0; }
footer .rrss ul li { display: inline-block; margin-right: 7px; margin-left: 7px; }
footer .rrss ul li.divisor { color: white; }
footer .rrss ul li:last-child { margin-right: 0; }
footer .rrss ul li:first-child { margin-left: 0; }
footer .rrss ul li a { color: white; display: block; font-family: "Gotham-Light", Helvetica, Arial, sans-serif; font-size: 16px; }
footer .rrss ul li a.icon-wrapper { font-size: 20px; }

.modal-backdrop { background-color: #14050c; }
.modal-backdrop.in { opacity: 0.9; }

.modal { text-align: center; padding: 0 !important; }

.modal:before { content: ''; display: inline-block; height: 100%; vertical-align: middle; margin-right: -4px; }

.modal-dialog { display: inline-block; text-align: left; vertical-align: middle; }

#modal-voto .modal-dialog .modal-content, .modal-gracias .modal-dialog .modal-content { background-color: transparent; -webkit-box-shadow: none; box-shadow: none; border: none; border-radius: 0; }
#modal-voto .modal-dialog .modal-content .modal-body .close, .modal-gracias .modal-dialog .modal-content .modal-body .close { position: absolute; opacity: 1; color: white; font-size: 40px; right: 0; top: -40px; }
#modal-voto .modal-dialog .modal-content .modal-body .title, .modal-gracias .modal-dialog .modal-content .modal-body .title { text-align: center; margin-bottom: 30px; }
@media (max-width: 767px) { #modal-voto .modal-dialog .modal-content .modal-body .title, .modal-gracias .modal-dialog .modal-content .modal-body .title { margin-bottom: 30px; } }
#modal-voto .modal-dialog .modal-content .modal-body .title h1, .modal-gracias .modal-dialog .modal-content .modal-body .title h1 { margin: 0; font-family: "Gotham-Light", Helvetica, Arial, sans-serif; font-size: 30px; text-transform: uppercase; color: white; }
@media (max-width: 767px) { #modal-voto .modal-dialog .modal-content .modal-body .title h1, .modal-gracias .modal-dialog .modal-content .modal-body .title h1 { font-size: 22px; } }
#modal-voto .modal-dialog .modal-content .modal-body .title h2, .modal-gracias .modal-dialog .modal-content .modal-body .title h2 { margin: 0; font-family: "Gotham-Bold", Helvetica, Arial, sans-serif; font-size: 30px; text-transform: uppercase; color: white; }
@media (max-width: 767px) { #modal-voto .modal-dialog .modal-content .modal-body .title h2, .modal-gracias .modal-dialog .modal-content .modal-body .title h2 { font-size: 22px; } }
#modal-voto .modal-dialog .modal-content .modal-body #formDatos label.error, .modal-gracias .modal-dialog .modal-content .modal-body #formDatos label.error { color: #e8387b; margin-top: 8px; }
@media (min-width: 768px) { #modal-voto .modal-dialog .modal-content .modal-body #formDatos, .modal-gracias .modal-dialog .modal-content .modal-body #formDatos { width: 400px; } }
@media (max-width: 767px) { #modal-voto .modal-dialog .modal-content .modal-body #formDatos.center-block, .modal-gracias .modal-dialog .modal-content .modal-body #formDatos.center-block { display: block; width: 90%; } }
#modal-voto .modal-dialog .modal-content .modal-body #formDatos .form-group, .modal-gracias .modal-dialog .modal-content .modal-body #formDatos .form-group { margin-bottom: 25px; }
#modal-voto .modal-dialog .modal-content .modal-body #formDatos .form-group .form-control, .modal-gracias .modal-dialog .modal-content .modal-body #formDatos .form-group .form-control { background-color: rgba(90, 75, 81, 0.3); border: 1px solid white; border-radius: 0; font-family: "Gotham-Bold", Helvetica, Arial, sans-serif; color: white; font-size: 15px; padding: 20px; height: 50px; }
@media (max-width: 767px) { #modal-voto .modal-dialog .modal-content .modal-body #formDatos .form-group .form-control, .modal-gracias .modal-dialog .modal-content .modal-body #formDatos .form-group .form-control { font-size: 14px; padding: 8px; } }
#modal-voto .modal-dialog .modal-content .modal-body #formDatos .form-group .form-control.form-control::-webkit-input-placeholder, .modal-gracias .modal-dialog .modal-content .modal-body #formDatos .form-group .form-control.form-control::-webkit-input-placeholder { /* Chrome/Opera/Safari */ color: white; }
#modal-voto .modal-dialog .modal-content .modal-body #formDatos .form-group .form-control.form-control::-moz-placeholder, .modal-gracias .modal-dialog .modal-content .modal-body #formDatos .form-group .form-control.form-control::-moz-placeholder { /* Firefox 19+ */ color: white; }
#modal-voto .modal-dialog .modal-content .modal-body #formDatos .form-group .form-control.form-control:-ms-input-placeholder, .modal-gracias .modal-dialog .modal-content .modal-body #formDatos .form-group .form-control.form-control:-ms-input-placeholder { /* IE 10+ */ color: white; }
#modal-voto .modal-dialog .modal-content .modal-body #formDatos .form-group .form-control.form-control:-moz-placeholder, .modal-gracias .modal-dialog .modal-content .modal-body #formDatos .form-group .form-control.form-control:-moz-placeholder { /* Firefox 18- */ color: white; }
#modal-voto .modal-dialog .modal-content .modal-body #formDatos .btn-enviar-voto, .modal-gracias .modal-dialog .modal-content .modal-body #formDatos .btn-enviar-voto { font-size: 20px; border-radius: 0; border: none; text-transform: uppercase; font-family: "Gotham-Bold", Helvetica, Arial, sans-serif; padding-left: 30px; padding-right: 30px; }

.modal-gracias .modal-dialog .modal-content .modal-body .title { margin-bottom: 20px; }
@media (max-width: 767px) { .modal-gracias .modal-dialog .modal-content .modal-body .title h1, .modal-gracias .modal-dialog .modal-content .modal-body .title h2 { font-size: 30px; } }
.modal-gracias .modal-dialog .modal-content .modal-body .img-doble { margin-bottom: 20px; display: block; border-radius: 200px; -webkit-box-sizing: border-box; box-sizing: border-box; background-color: #DDD; border: 5px solid #cfd8dc; }
.modal-gracias .modal-dialog .modal-content .modal-body p { font-family: "Gotham-Light", Helvetica, Arial, sans-serif; color: white; text-transform: none; font-size: 18px; margin: 0 0 20px 0; padding: 0; text-align: center; }
.modal-gracias .modal-dialog .modal-content .modal-body .btn-enviar-voto { font-size: 20px; border-radius: 0; border: none; text-transform: uppercase; font-family: "Gotham-Bold", Helvetica, Arial, sans-serif; padding-left: 30px; padding-right: 30px; }
