* {
   // -webkit-font-smoothing: antialiased;
   //  -moz-osx-font-smoothing: grayscale;
}
html {
  //height: 100%;
}

body{
	position: relative;
	//min-height: 100%;
	padding-top: 40px;
}




#background{
	background: url(../img/bg3.jpg) no-repeat;
	background-position: center top;
	//background-attachment: fixed;
	background-size: cover;
	position: absolute;
	left: 0;
	top: 0;
	right: 0;
	bottom: 0;margin: 0;
	padding: 0;
	z-index: -1;
	@media(max-width:768px){
		background: url(../img/bg-xs.jpg) no-repeat;
			background-position: center top;
			//background-attachment: fixed;
			background-size: cover;
			position: absolute;
			left: 0;
			top: 0;
			right: 0;
			bottom: 0;margin: 0;
			padding: 0;
			z-index: -1;
	}
	@media(max-width:767px){
		background: url(../img/bg-xxs.jpg)  center top no-repeat;
		background-size: contain;
		background-color: #000;
		position: absolute;
		left: 0;
		top: 0;
		right: 0;
		bottom: 0;
		margin: 0;
		padding: 0;
		z-index: -1;
	}


}

// ::-webkit-input-placeholder { /* Chrome/Opera/Safari */
//   color: pink;
// }
// ::-moz-placeholder { /* Firefox 19+ */
//   color: pink;
// }
// :-ms-input-placeholder { /* IE 10+ */
//   color: pink;
// }
// :-moz-placeholder { /* Firefox 18- */
//   color: pink;
// }


// button, input, select[multiple],
// textarea { background: transparent; border: 0;}
// a, a:hover, a:focus, button {text-decoration: none; outline: none;}
// embed, object, video { max-width: 100%; height: auto;}
// iframe { max-width:100%;}


// h1,h2,h3,h4,h5,h6 {
//   margin: 0;
//   padding: 0;
// }

//  remover bordes de links
// ---------------------------------------
a:focus,
input[type="text"]{
  outline: none !important;
}
// //  color del focus inputs
// // ---------------------------------------
// textarea:focus,
// input[type="text"]:focus,
// input[type="password"]:focus,
// input[type="datetime"]:focus,
// input[type="datetime-local"]:focus,
// input[type="date"]:focus,
// input[type="month"]:focus,
// input[type="time"]:focus,
// input[type="week"]:focus,
// input[type="number"]:focus,
// input[type="email"]:focus,
// input[type="url"]:focus,
// input[type="search"]:focus,
// input[type="tel"]:focus,
// input[type="color"]:focus,
// textarea:focus,
// .uneditable-input:focus {
//   border-color: none;
//   box-shadow:none;
//   outline: 0 none;
// }
